1. Tentukan library digunakan

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

2. Load Dataset

In [3]:

insurance2_dataset = pd.read_csv('insurance2.csv')

In [4]:
insurance2_dataset.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [5]:
insurance2_dataset.isnull()

        age    sex    bmi  children  smoker  region  charges  insuranceclaim
0     False  False  False     False   False   False    False           False
1     False  False  False     False   False   False    False           False
2     False  False  False     False   False   False    False           False
3     False  False  False     False   False   False    False           False
4     False  False  False     False   False   False    False           False
...     ...    ...    ...       ...     ...     ...      ...             ...
1333  False  False  False     False   False   False    False           False
1334  False  False  False     False   False   False    False           False
1335  False  False  False     False   False   False    False           False
1336  False  False  False     False   False   False    False           False
1337  False  False  False     False   False   False    False           False

[1338 rows x 8 columns]

In [6]:
insurance2_dataset.shape

(1338, 8)

In [7]:
insurance2_dataset['insuranceclaim'].value_counts()

1    783
0    555
Name: insuranceclaim, dtype: int64

In [8]:
# memisahkan data dan label
X = insurance2_dataset.drop (columns='insuranceclaim',axis=1)
Y = insurance2_dataset['insuranceclaim']

In [9]:
print(X)

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [10]:
print(Y)

0       1
1       1
2       0
3       0
4       1
       ..
1333    0
1334    1
1335    1
1336    0
1337    1
Name: insuranceclaim, Length: 1338, dtype: int64

3. Memisahkan data Training dan data Testing

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(1338, 7) (1070, 7) (268, 7)

4. Membuat data latih menggunakan algoritma svm

In [13]:
classifier = svm.SVC(kernel='linear')

In [14]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

5. membuat model evaluasi untuk mengukur tingkat akurasi

In [15]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [16]:
print('Akurasi data training adalah =', training_data_accuracy)

Akurasi data training adalah = 0.8355140186915888

In [17]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [18]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.8283582089552238

6. Membuat model prediksi

In [ ]:
input_data = (32,1,28.88,0,0,1,3866.8552)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('Nasabah ini tidak klaim asuransi')
else :
    print('Nasabah ini klaim asuransi')